a:hover, a:visited, a:link, a:active { text-decoration: none !important; }

h3 {
  padding: 0px !important;
  margin-bottom: 0px !important;
}

.title {
  margin-top: 0;
  background: #eee;
  border: 1px solid black;
  padding: .5em !important;
  margin-bottom: .5em !important;
}

img {
  max-width: 100%;
  max-height: 700px;
}

.thick-hr {
  margin-top: .5em !important;
  border: .2em solid #666;
}

.nopad {
  padding: 0px !important;
}

.navbar {
  border-radius: 0px;
}

.table-inverse thead {
  color: #fff;
  background: #373A3C;
}
.table-inverse-left th {
  width: 7%;
  background: #373A3C;
  color: #fff;
}

.gallery tr td:first-child,
.gallery tr td:last-child,
.gallery tr td:nth-last-child(2) {
  width:1%;
  text-align: center;
  white-space:nowrap;
}

.btn-download {
  background: #fff;
  border: 1px solid #666;
}

a .btn-download {
  color: limegreen !important;
}

.btn-delete {
  background: #fff;
  border: 1px solid #666;
}

a .btn-delete {
  color: maroon !important;
}

/* File input css */
.container{
    margin-top:20px;
}
.image-preview-input {
    position: relative;
	overflow: hidden;
	margin: 0px;    
    color: #333;
    background-color: #fff;
    border-color: #ccc;    
}
.image-preview-input input[type=file] {
	position: absolute;
	top: 0;
	right: 0;
	margin: 0;
	padding: 0;
	font-size: 20px;
	cursor: pointer;
	opacity: 0;
	filter: alpha(opacity=0);
}
.image-preview-input-title {
    margin-left:2px;
}
